<p><%= @resource.full_name %>様</p><br/>
<br/>
<p>宿泊予約サイト</p><br/>
<br/>
<p>登録メールアドレス　「<%= @resource.email %>」</p><br/>
<br/>
<p>下記のリンクをクリックして新しいパスワードを登録してください</p><br/>
<br/>
<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p><br/>
<br/>
